* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
    font-family: sans-serif;
    color: #000;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.menu {
    margin-bottom: 1rem;
    color: #fff;
}

.restart {
    padding: 0.25rem 0.5rem;
}

.row {
    display: flex;
}

.cell {
    cursor: crosshair;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: #aad751;
    width: 40px;
    height: 40px;
    user-select: none;
}

.cell.mine {
    font-size: 1.5rem;
}

.cell.flag {
    font-size: 1.25rem;
}

.row:nth-child(even) .cell:nth-child(odd),
.row:nth-child(odd) .cell:nth-child(even) {
    background-color: #a2d149;
}

.cell.open {
    background-color: #e5c29f;
}

.row:nth-child(even) .cell:nth-child(odd).open,
.row:nth-child(odd) .cell:nth-child(even).open {
    background-color: #d7b899;
}
